@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --fw-normal: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-weight: var(--fw-normal);
    background-color: var(--Grey-900);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

ul{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
}

.container{
    padding-inline: auto;
    margin: 9rem auto;
}

.profile{
    background-color: var(--Grey-800);
    width: 32rem;
    padding: 1.8rem;
    border-radius: 1rem;
    text-align: center;
}


.profile .profile-img{
    width: 1rem;
    aspect-ratio: 1;
    margin: 0 auto;
}

.profile .img-profile img{
    margin-left: auto;
    margin-right: auto;
    width: 176px;
    height: 176px;
    display: inherit;
    max-width: 100%;
    border-radius: 50%;
    
}

.profile .profile-title{
    margin-top: 3rem;

}

.profile .profile-title h1{
    color: var(--White);
    font-size: 2.3rem;
    font-weight: var(--fw-bold);
}

.profile .profile-title h2{
    color: var(--Green);
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.profile .profile-header{
    color: var(--White);
}

.profile .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.profile .social-media li{
    width: 100%;
}

.profile .social-media li a{
    background-color: var(--Grey-700);
    color: var(--White);
    padding: 1.6rem 0;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-weight: var(--fw-semi-bold);
    transition: all .3s ease-in-out;
}

.profile .social-media li:hover a{
    background-color: var(--Green);
    color: var(--Grey-900);
}

.footer-1  { 
    color: hsl(0, 0%, 42%);
    position: relative;
    
    font-size: 0.75rem;
    text-align: center;

  }

@media(min-width: 1200px) {
    .container{
        margin-top: 0;
    }

    .profile {
        width: 38rem;
        padding: 3rem 4rem;
    }
}